/* Common */

body {
 font-family: 'Roboto', sans-serif;
 color: #434455;
 background-color:#ffffff;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    flex-grow: 1;
}

.section {
    padding: 0px 15px;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.flex-header {
    display: flex;
    gap: 332px;
}


/* Blended */

.logotype-header,
.logotype-footer {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feature-title,
.name-title,
.portfolio-item-title {
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}

.features-title,
.portfolio-title,
.team-title {
    color: #2E2F42;
    letter-spacing: 0.02em;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
}

.feature-text,
.position,
.portfolio-text {
    color: #434455;
}

/* Page Header */

.header-block {
    display: flex;
    background-color: white;
    padding: 0 15px;
    column-gap: 332px;
    border-bottom: 1px solid #E7E9FC;
}

.logotype-header {
    margin-right: 76px;
    flex-shrink: 0;
}

.nav-content {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0;

}

.contacts-list {
    font-style: normal;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0;
}

.logo-accent-header {
    color: #2E2F42;
}

.nav-item {
    color: #2E2F42;
    font-weight: 500;
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active {
    color: #404BBF;
}

.contacts-address {
    font-style: normal
}

.contacts-item {
    color: #434455;
}

.contacts-item:hover,
.contacts-item:focus,
.contacts-item:active {
    color: #404BBF;
}

/* Hero Section */

.hero-block {
    background-color: #2E2F42;
    padding: 188px 0;
}

.hero-title {
    color:#ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
}

.hero-button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background:#4D5AE5;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    padding: 16px 32px;
    border-style: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    min-width: 169px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* Features Section */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-block {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-title {
    line-height: 1.2;
}

.features-list > .list-item {
    width: calc((100% - 72px) / 4);
}

.feature-title {
    margin-bottom: 8px;
}

/* Our Team */

.team-title {
    text-align: center;
    margin-bottom: 72px;
}

.team-block {
   background-color: #F4F4FD;
   padding: 120px 0;
}

.team-list {
    display: flex;
    flex-direction: row;
    flex-basis: 264px;
    gap: 24px;
}

.team-card {
    background-color: #ffffff;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-card-container {
    padding: 32px 0;
}

.name-title {
    margin-bottom: 8px;
    text-align: center;
}

.position {
    text-align: center;
}

/* Our Portfolio */

.portfolio-block {
    padding: 120px 0;
}

.portfolio-title {
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    flex-basis: 360px;
}

.portfolio-card {
    width: calc((100% - 48px) / 3);
    background: #ffffff;
    display: block;
}

.portfolio-card-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item-title {
    margin-bottom: 8px;
}

/* Footer */

.footer-block {
    background-color: #2E2F42;
    padding: 100px 0px;
}

.logotype-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    max-width: 264px;
}

.logo-accent-footer {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
}